.total{
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    width: 30%;
    min-height: 768px;
}
.total .total-description{
    flex-flow: row wrap;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    line-height: 80px;
    margin: 0;
    height: 80px;
}
.nav-menu_total{
    list-style: none;
} .total-title{
    font-weight: 700;
    font-size: 1.2rem;
    color: #3f3f3f;
} 
.waves-effect .waves-light .btn{
     border-radius: 7px;
}
.buttons-order{
    justify-content: space-around;
    display: flex;
}
.btn-cancel,
.btn-send{
    text-transform: capitalize;
    width: 120px;
    line-height: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #721a16;
    color: #721a16;
    background-color: #fff;
}
.btn-send{
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #fff;
    color: #fff;
    background-color: #721a16;
}
