.total{
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    width: 30%;
    height: 100vh;
    border-left:1px solid #b7b7b7;
}
.total .total-description{
    flex-flow: row wrap;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    line-height: 80px;
    margin: 0;
    height: 80px;
}
.nav-menu_total{
    list-style: none;
} .total-title{
    font-weight: 700;
    font-size: 1.2rem;
    color: #3f3f3f;
} 
.productsAdded{
    height: calc(100% - 150px);
   
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 50px;
    position: relative;
}
.list-products{
    display: inline-block;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
}
.productsAdded .total-products{
    display: inline-block;
    line-height: 3rem;
    text-align: left;
    font-size: 1.5em;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 2rem;
}
.productsAdded .total-products span{
    padding-right: .5rem;
}
.productsAdded .total-products p{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.list-products .card-main{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 0;
    min-height: 60px;
}
.list-products .card-main .number,
.list-products .card-main .item_product,
.list-products .card-main .item_price{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 1rem;
}
.list-products .card-main .item_product{
    width: 50%;
    padding-right: 0.5em;
}
.list-products .card-main .item_price{
    width: 30%;
    position:static;
}
.list-products .card-main .number{
    width: 20%;
}
.list-products .card-main{
    max-width: 100%;    
}

.buttons-order{
    justify-content: space-around;
    display: flex;
}
.btn-cancel,
.btn-send{
    text-transform: capitalize;
    width: 100%;
    max-width: 130px;
    line-height: 1.2em;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: none;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 2px solid #721a16;
    color: #721a16;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.btn-cancel{
    background-color: transparent;
}
.btn-send{
    box-shadow: none;
    color: #fff;
    background-color: #721a16;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
